<link rel="stylesheet" th:href="@{/css/home.css}" />

<div th:fragment="home">
    <h1>abhilasha is an electro-acoustic improviser</h1>
    <div class="img-container">
        <img th:src="@{img/TurtleBoat-066.webp}" alt="A performance photo of Abhilasha with Turtle Boat">
        <img th:src="@{img/null_copula-dsgncllctv.webp}" alt="A performance photo of Abhilasha as Null Copula">
    </div>

    <a style="display: none;" rel="me" class="mstdn-verification" href="https://hachyderm.io/@abhicf">Mastodon</a>
</div>