<link rel="stylesheet" th:href="@{/css/null-copula.css}" />

<div th:fragment="null-copula">
    <h1 class="img-container"> <!-- th:text="${pageTitle}" -->
        <img th:src="@{/img/null-copula.webp}" alt="Null Copula" />
    </h1>

    <p>Null Copula is a solo harsh noise project.</p>
    <iframe width="500" height="315" src="https://www.youtube.com/embed/caLTuNpWWoE?si=DTC-cP6eZjU_ynFG"
        title="Null Copula @ Needle Exchange Records 2025-03-31" allow="clipboard-write; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>