img {
    filter: gray;
    -webkit-filter:grayscale(1);
    filter: grayscale(1);
    height: 30px;
}

img:hover {
    -webkit-filter:grayscale(0);
    filter:none;
}

p {
    text-indent: 0%;
}

ul {
    list-style:none;
}