iframe {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

p {
    text-align: center;
}

.hidden {
    display: none;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.img-container img {
    display: block;
    width: 80%;
    margin: 20px;
}