iframe {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

img {
    max-width: 90%;
    padding: 1em;
    border-radius: 5%;
}

p {
    margin: 3em;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}