<!doctype html>
<html lang="en">
<th:block th:insert,data-th-insert="~{fragments.html :: head}"></th:block>

<body>
    <div th:insert="~{fragments.html :: header}"></div>
    <div th:insert="~{fragments.html :: navbar}"></div>
    <h1 th:text="${pageTitle}"></h1>

    <h1>Contact</h1>


    <a href="mailto:abhi@abhiche.com"><img th:src="@{img/social-icons/email.svg}"  alt="Send Abhilasha an email"></a>
    <a href="https://signal.me/#eu/MeBhFDTQjnbZEBCT8G8kZoet78v8KkiHdJIALBpVS-WZ05Ruu5hLaYYnhhdNNcMa" target="_blank"><img th:src="@{/img/social-icons/signal.svg}" style="height: 32px; width: 32px;" alt="Message Abhilasha on Signal"></a>
    <a href="https://hachyderm.io/@abhicf" target="_blank"><img th:src="@{img/social-icons/mastodon.svg}" alt="@abhicf on Mastodon"></a>
    <a href="https://peertube.casually.cat/a/abhi/video-channels" target="_blank"><img th:src="@{img/social-icons/peertube.svg}" alt="Abby's 'This is not a performance' channel on Peertube"></a>
    <!-- Icons from https://codeberg.org/WeDistribute/decentralized-social-icons/ -->

    <h1>Links</h1>

    <h2>Press</h2>
    <ul>
        <li><a href="https://matternews.org/culture/music/gault-continues-to-build-a-musical-connection-on-if-the-heavens-came-down/" target="_blank">Gault continues to build a musical connection on ‘If the Heavens Came Down’</a></li>
        <li><a href="https://postcapital.club/2021/05/15/abhilasha-chebolu-and-ishmael-ali-many-calmly-ordered-rules-of-death-lurker-bias-2020/">Abhilasha Chebolu and Ishmael Ali – “Many Calmly Ordered Rules of Death” [Lurker Bias, 2020]</a></li>
        <li><a href="https://www.soundohm.com/product/vibration-lp">Ryan Jewell Quintet - Vibration!</a></li>
    </ul>

    <h2>Labels</h2>
    <ul>
        <li><a href="https://breachingstatic.bandcamp.com/">Breaching Static</a></li>
        <li><a href="https://www.amalgamusic.org/">Amalgam</a></li>
        <li><a href="https://lurkerbias.bandcamp.com/">Lurker Bias</a></li>
        <li><a href="https://tworoomsrecords.com/">Two Rooms</a></li>
    </ul>

    <h2>Homies</h2>
    <ul>
        <li><a href="https://aphotictransmission.bandcamp.com/music">Aphotic Transmission</a></li>
        <li><a href="https://violeer.bandcamp.com/">Violeer</a></li>
        <li><a href="https://moralfailing.bandcamp.com/album/moral-failing">Moral Failing</a></li>
        <li><a href="https://ishmaelalimusic.com/">Ishmael Ali</a></li>
        <li><a href="https://burgoynesax.com/">Alex Burgoyne</a></li>
        <li><a href="https://www.dandipiero.com/">Dan DiPiero</a></li>
    </ul>

</body>
</html>