<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${pageTitle}">Page Title</title>
</head>

<header th:fragment="header">
    <h1>abhilasha</h1>
</header>

<nav th:fragment="navbar">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/bio}">Bio</a></li>
        <li><a th:href="@{/nullcopula}">Null Copula</a></li>
        <li><a th:href="@{/turtleboat}">Turtle Boat</a></li>
        <li><a th:href="@{/recordings}">Recordings</a></li>
        <li><a th:href="@{/performances}">Performances</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
    </ul>
</nav>